In [1]:
# Dependencies and Setup
import pandas as pd

import numpy as np

# File to Load (Remember to Change These)
d2015 = "Sheets/2015.csv"
d2016 = "Sheets/2016.csv"
d2017 = "Sheets/2017.csv"
d2018 = "Sheets/2018.csv"
d2019 = "Sheets/2019.csv"

# Read yearly data files
data_15 = pd.read_csv(d2015)
data_16 = pd.read_csv(d2016)
data_17 = pd.read_csv(d2017)
data_18 = pd.read_csv(d2018)
data_19 = pd.read_csv(d2019)

#year 2015 extract columns and rearrange columns
df15c = data_15.loc[:,['Country',
                       'Happiness Rank', 
                       'Happiness Score', 
                       'Economy (GDP per Capita)',
                       'Family',
                       'Health (Life Expectancy)', 
                       'Freedom', 
                       'Generosity',
                       'Trust (Government Corruption)']]

#rename columns
df15new= df15c.rename(columns={"Happiness Rank":"Rank", 
                               "Country":"Country",
                               "Happiness Score":"Score",
                               "Economy (GDP per Capita)":"GDP", 
                               "Family":"Family", 
                               "Health (Life Expectancy)":"Health",
                               "Freedom":"Freedom",
                               "Generosity":"Generosity", 
                               "Trust (Government Corruption)":"Trust"})

#replace country names 
df15new['Country'].replace(['Hong Kong S.A.R., China',
                                      'Taiwan Province of China',
                                      'Trinidad and Tobago',
                                      'North Cyprus','Somaliland region'],
                                     ['Hong Kong',
                                      'Taiwan',
                                      'Trinidad & Tobago',
                                      'Northern Cyprus',
                                      'Somaliland Region'], inplace = True)

#year 2016 extract columns and rearrange columns

df16c = data_16.loc[:,['Country',
                       'Happiness Rank',
                       'Happiness Score',
                       'Economy (GDP per Capita)', 
                       'Family',
                       'Health (Life Expectancy)',
                       'Freedom', 'Generosity',
                       'Trust (Government Corruption)']]

#rename column
df16new = df16c.rename(columns={"Happiness Rank":"Rank",
                                "Country":"Country",
                                "Happiness Score":"Score",
                                "Economy (GDP per Capita)":"GDP",
                                "Family":"Family",
                                "Health (Life Expectancy)":"Health",
                                "Freedom":"Freedom",
                                "Generosity":"Generosity",
                                "Trust (Government Corruption)": "Trust"})

#replacing name change for HK and Taiwan
df16new['Country'].replace(['Hong Kong S.A.R., China',
                                      'Taiwan Province of China',
                                      'Trinidad and Tobago',
                                      'North Cyprus',
                                      'Somaliland region'],
                                     ['Hong Kong',
                                      'Taiwan',
                                      'Trinidad & Tobago',
                                      'Northern Cyprus',
                                      'Somalia'], inplace = True)


#year 2017 extract columns and rearrange columns

df17c = data_17.loc[:,['Country',
                       'Happiness.Rank',
                       'Happiness.Score',
                       'Economy..GDP.per.Capita.',
                       'Family',
                       'Health..Life.Expectancy.',
                       'Freedom',
                       'Generosity',
                       'Trust..Government.Corruption.']]

#rename column
df17new = df17c.rename(columns={"Country":"Country",
                                "Happiness.Rank":"Rank",
                                "Happiness.Score":"Score",
                                "Economy..GDP.per.Capita.":"GDP", 
                                "Family":"Family", 
                                "Health..Life.Expectancy.":"Health",
                                "Freedom":"Freedom",
                                "Generosity":"Generosity", 
                                "Trust..Government.Corruption.": "Trust"})

df18c = data_18.loc[:,['Country or region',
                       'Overall rank', 
                       'Score',
                       'GDP per capita',
                       'Social support',
                       'Healthy life expectancy',
                       'Freedom to make life choices',
                       'Generosity',
                       'Perceptions of corruption']]

df18new = df18c.rename(columns={"Overall rank":"Rank",
                                "Country or region":"Country",
                                "Score":"Score",
                                "GDP per capita":"GDP", 
                                "Social support":"Family", 
                                "Healthy life expectancy":"Health",
                                "Freedom to make life choices":"Freedom",
                                "Generosity":"Generosity", 
                                "Perceptions of corruption": "Trust"})

df19c = data_19.loc[:,['Country or region',
                       'Overall rank', 
                       'Score',
                       'GDP per capita',
                       'Social support',
                       'Healthy life expectancy',
                       'Freedom to make life choices',
                       'Generosity',
                       'Perceptions of corruption']]

df19new = df19c.rename(columns={"Overall rank":"Rank",
                                "Country or region":"Country",
                                "Score":"Score",
                                "GDP per capita":"GDP", 
                                "Social support":"Family", 
                                "Healthy life expectancy":"Health",
                                "Freedom to make life choices":"Freedom",
                                "Generosity":"Generosity", 
                                "Perceptions of corruption": "Trust"})

# replacing name change for HK and Taiwan

df17new['Country'].replace(['Hong Kong S.A.R., China',
                                      'Taiwan Province of China',
                                      'Trinidad and Tobago',
                                      'North Cyprus',
                                      'Somaliland region'],
                                     ['Hong Kong',
                                      'Taiwan',
                                      'Trinidad & Tobago',
                                      'Northern Cyprus',
                                      'Somaliland Region'], inplace = True)

In [2]:
df1516 = pd.merge(df15new, df16new, how="outer", on = "Country", suffixes=("_15", "_16"))

df1718 = pd.merge(df17new, df18new, how="outer", on = "Country", suffixes=("_17", "_18"))

df17_19 = pd.merge(df1718, df19new, how="outer", on = "Country")

df_all= pd.merge(df1516, df17_19, how="outer", on = "Country")
df_all

In [5]:
df_alln = df_all.rename(columns={"Rank":"Rank_19",
                                "Score":"Score_19",
                                "GDP":"GDP_19", 
                                "Family":"Family_19", 
                                "Health":"Health_19",
                                "Freedom":"Freedom_19",
                                "Generosity":"Generosity_19", 
                                "Trust": "Trust_19"})

In [8]:
df_alln

,Country,Rank_15,Score_15,GDP_15,Family_15,Health_15,Freedom_15,Generosity_15,Trust_15,Rank_16,...,Generosity_18,Trust_18,Rank_19,Score_19,GDP_19,Family_19,Health_19,Freedom_19,Generosity_19,Trust_19
0,Switzerland,1.0,7.587,1.39651,1.34951,0.94143,0.66557,0.29678,0.41978,2.0,...,0.256,0.357,6.0,7.480,1.452,1.526,1.052,0.572,0.263,0.343
1,Iceland,2.0,7.561,1.30232,1.40223,0.94784,0.62877,0.43630,0.14145,3.0,...,0.353,0.138,4.0,7.494,1.380,1.624,1.026,0.591,0.354,0.118
2,Denmark,3.0,7.527,1.32548,1.36058,0.87464,0.64938,0.34139,0.48357,1.0,...,0.284,0.408,2.0,7.600,1.383,1.573,0.996,0.592,0.252,0.410
3,Norway,4.0,7.522,1.45900,1.33095,0.88521,0.66973,0.34699,0.36503,4.0,...,0.286,0.340,3.0,7.554,1.488,1.582,1.028,0.603,0.271,0.341
4,Canada,5.0,7.427,1.32629,1.32261,0.90563,0.63297,0.45811,0.32957,6.0,...,0.321,0.291,9.0,7.278,1.365,1.505,1.039,0.584,0.285,0.308
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
160,Somalia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,76.0,...,0.238,0.282,112.0,4.668,0.000,0.698,0.268,0.559,0.243,0.270
161,Namibia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,113.0,...,0.051,0.064,113.0,4.639,0.879,1.313,0.477,0.401,0.070,0.056
162,South Sudan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,143.0,...,0.224,0.106,156.0,2.853,0.306,0.575,0.295,0.010,0.202,0.091
163,North Macedonia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,84.0,5.274,0.983,1.294,0.838,0.345,0.185,0.034
164,Gambia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,120.0,4.516,0.308,0.939,0.428,0.382,0.269,0.167

In [7]:
df_alln.to_csv("Sheets/full_j.csv", index=False, header=True)

Index(['Overall rank', 'Country or region', 'Score', 'GDP per capita',
       'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption'],
      dtype='object')